@charset "UTF-8";
/*기본 설정*/
body {
	font-size: 20px;
	color: #555555;
	word-break: keep-all
}

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form,
	fieldset, input, table, tr, th, td, button, textarea {
	margin: 0;
	padding: 0
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-align: center;
}

ul, ol, li {
	list-style: none
}

hr {
	position: absolute;
	left: 0%;
	top: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

legend {
	position: absolute;
	left: 0%;
	top: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

caption {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0
}

fieldset {
	border: none
}

a {
	text-decoration: none;
	color: #757575
}

a:hover, a:active, a:visited {
	text-decoration: none;
	color: #757575
}

img {
	border: 0;
	vertical-align: top
}

button {
	border: 0;
	background-color: transparent;
	cursor: pointer;
	vertical-align: top
}

input, select {
	vertical-align: auto
}

em, address {
	font-style: normal
}

table {
	table-layout: auto;
	word-wrap: break-word;
	border-collapse: collapse;
	text-align: center;
}
/*바디 설정 */
.idpwSrh {
	width: 100%;
	overflow: hidden
}

.idpwSrh li {
	float: center;
}

.idpwSrh li .srhBox  {
	border-right-width: 0.990;
	margin-right: 40%;
	margin-left: 35%;
	margin-top: 2%;
	margin-bottom:2%;
	padding-left: 2%; overflow : hidden;
	padding: 40px 40px 40px;
	overflow: hidden;}

.idpwSrh li .or {
	border-style: solid none solid solid;
	border-color: #d8d8d8;
	background: #fbfbfb;
	text-align: left;
}

.idpwSrh li .or h2 {
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 900;
	color: #666666;
	text-align: left;
}

.idpwSrh li .br h2 {
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 900;
	color: #666666;
	text-align: left;
}

.idpwSrh li .br {
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;
	background: #fbfbfb;
	text-align: left;
}

.idpwSrh li .srhBox .srhTop {
	text-align: left;
	font-size: 20px
}

.idpwSrh li .srhBox .info {
	margin-top: 24px;
	padding-top: 20px;
	border-top: 1px dashed #d2d2d2
}

.idpwSrh li .srhBox .info label {disp;
	width: 83px;
	margin-right: 12px;
	vertical-align: middle;
	font-weight: 900;
	font-size: 20px;
	color: #333333;
	text-align: left;
}

.idpwSrh li .srhBox .info p {
	margin-bottom: 5px
}

.idpwSrh li .srhBox .info p input {
	width: 167px;
	height: 21px;
	border: 1px solid #d4d6d6
}

.idpwSrh li .or button {
	display: block;
	width: 145px;
	margin: 26px 0 0;
	padding: 7px 0;
	border: 1px solid #d5d5d5;
	background-color: #666666;
	
	color: #FFFFFF
}

.idpwSrh li .br button {
	display: block;
	width: 145px;
	margin: 26px 0 0;
	padding: 7px 0;
	border: 1px solid #d5d5d5;
	background-color: #666666;
	
	color: #FFFFFF
}