@charset "UTF-8";

/* @font-face {
	font-family: 'NanumGothic';
	src: url(fonts/NanumGothic.ttf) format('truetype');
}

div {
	font-family: NanumGothic;
} */

a:link {
	text-decoration: none;
	color:#373b43;
}

a:visited {
	text-decoration: none;
	color:#373b43;
}

a:active {
	text-decoration: none;
	color:#373b43;
}

div#side_left {
	font-weight: bold;
	width: 200px;
	font-size: 20px;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 5%;
	height: 100px;
	float: left;

}

#side_left ul {
	background-color: #f9f7f6;
	width: 100%;
	text-decoration: none;
	display: block;
	height: 100px;
	margin: 0;
	padding: 0;
}

#side_left ul li {
	height: 100px;
	text-decoration: none;
	list-style: none;
	line-height: 100px;
	display: block;
	padding: 0;
	margin-bottom: 5px;
}

#side_left ul li:hover {
	background-color:#e55151;
}

#side_left ul li a:hover, #mypage_side_left ul li a:focus {
	background-color:#e55151;
}

#side_left ul li a {
	text-align:left;
	padding-left:20px;
	display: block;
	background-color:#373b43;
	height: 100px;
	color:#f9f7f6;
}

#today {
	font-weight: bold;
	font-size: 20.5px;
/* 	border: solid;
	border-right: solid 10px;
	border-bottom: solid 10px; */
	width: 23%;
	height: 65%;
	float: left;

	margin-left: 1.2%;
	margin-top: 1%;
	margin-bottom: 0.8%;
	background-color: #f1f1f0;
	text-align: center;
	padding-top: 1.5%;
}

#recent_style {
	float: right;
	width: 10%;
	margin-top: 1%;
	margin-bottom: 2%;
}

#day {
	font-weight: bold;
	font-size: 15px;
	margin-left: 1%;
	width: 73%;
	float: left;
	margin-top: 1%;
	margin-bottom: 0.8%;
}

#day_top {
	/* border:solid; */
	border-color: #d5d5d5;
	border-radius: 10px;
	width: 28%;
	margin-left: 1%;
	float: left;
	padding: 1%;
	text-align: center;
}

#day_bottom {

	/* border:solid; */
	border-color: #d5d5d5;
	width: 28%;
	margin-top: 0.2%;
	margin-left: 1%;
	border-radius: 10px;
	float: left;
	padding: 1%;
	text-align: center;
}

#content {
	width: 100%;
	float: left;
	height: 50%;
	margin-top: 2%; 
}

div#today img {
	margin-left:10px;
	width: 103.922px;
	height: 104.656px;
}

div#day_top img {
	margin-left:10px;
	width: 103.922px;
	height: 104.656px;
}
 
div#day_bottom img {
	margin-left:10px;
	width: 103.922px;
	height: 104.656px;
}

div.bookmark {	
	width: 70%;
	float: left;	
	margin-left: 13%;
	margin-bottom: 2%;
	margin-top: 3%;
}

#bookmark { 
	padding-left: 20px;
	/* border:solid 2px #373b43;*/	
	width:1350px;
	height:284px;
	background-color: #f1f1f0;
}
#bookmarkhead {
	padding: 10px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: inline-block;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #4c4c4c;
	height: 0;
	line-height: 50px;
}

#head {
	margin-left: -100px;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: inline-block;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #373b43;
	height: 0;
	line-height: 50px;
}


#page {
	text-align: center;
	padding-top: 77px;
	padding-bottom: 77px;
}

#style {
	text-align: center;
}

#center {
	float: left;
	width: 75%;
	margin-top: 0;
	margin-left: 1%;	
	padding-top:2%;
}
